@import "tailwindcss";

@plugin "daisyui";


:root{
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img{
  border-radius: 30%;
  border: 10px groove #f02e96; /* width, style, color */
}


a {
  font-weight: 500;
  color: #e189b6;
  text-decoration: inherit;
}

/* Mouse hover */
a:hover {
    color: rgb(170, 4, 106);
    text-decoration: underline; /* Optional */
}


h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Dancing Script", cursive;
}

h2{
  font-size: 2em;
  line-height: 1.1;
  font-family: "Jacquard 24 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#f02e96;
  
}
.home{
  border:30px groove #f02e96;
  border-radius: 10px; /* All corners rounded by 10 pixels */
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  color:#681b44;
  padding: 0px;
  background-color: rgba(255, 192, 203, 0.306);
  margin: 10%;
}



