@import "tailwindcss";

@plugin "daisyui";


:root{
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img{
  border-radius: 30%;
  border: 10px groove #f02e96; /* width, style, color */
}


a {
  font-weight: 500;
  color: #e189b6;
  text-decoration: inherit;
}

/* Mouse hover */
a:hover {
    color: rgb(170, 4, 106);
    text-decoration: underline; /* Optional */
}


h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Dancing Script", cursive;
}

h2{
  font-size: 2em;
  line-height: 1.1;
  font-family: "Jacquard 24 Charted", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#f02e96;
}  
 

a.buttons {
    display: inline-block;       /* Makes it behave like a button */
    margin: 40px;
    padding: 10px 20px;          /* Space inside the button */
    background-color: #fc7fd6;   /* Button background color */
    color: white;                /* Text color */
    text-decoration: none;       /* Remove underline */
    border-radius: 5px;          /* Rounded corners */
    font-family:"Playwrite US Modern", cursive;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}


/* Hover effect */
a.buttons:hover {
    background-color: #610939;
}



